body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  hr {
    margin: 50px 0;
  }
  
  .container {
    margin: 150px auto;
    max-width: 840px;
    height: 400px;
    padding: 20px;
    display: -webkit-box;
    display: flex;
    background-color: #594255;
    position: relative;
  }
  
  .line {
    height: 1px;
    width: 100%;
    border-bottom: 2px solid deepPink;
    position: absolute;
    top: 120px;
    left: 0;
    visibility: hidden;
  }
  
  .item {
    background-color: #fff;
    width: 100px;
    margin: 1%;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 4em;
    color: #594255;
  }
  
  .big {
    width: 150px;
    font-size: 5em;
  }
  
  .small {
    font-size: 2em;
  }
  
  .controls {
    background-color: white;
    width: 300px;
    padding: 20px;
    line-height: 150%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
  }