body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
  }
  
  p {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  hr {
    margin: 50px 0;
  }
  
  .container {
    margin: 20px auto;
    width: 100%;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #594255;
  }
  
  .item {
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 2px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;
    color: #594255;
  }
  
  .three {
    background-color: #E18D87;
  }
  
  .container-1 .three,
  .container-2 .three {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  
  .container-2 .five {
    background-color: orange;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
  }
  
  .container-3 .three {
    -webkit-order: 7;
    -ms-flex-order: 7;
    order: 7;
  }
  
  .container-4 .three {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }